header {
  height: 70px;
  padding: 10px 0;
  background-color: #fff;
  color: #6765ad;
}

.menu {
  border-bottom: none;
}

:where(.css-dev-only-do-not-override-tpassh).ant-menu-horizontal {
  line-height: 20px;
}

.itemStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
