.menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  color: #6765ad;
  border-bottom: none;
  flex-grow: 1;
  flex: 1;
}

:where(.css-dev-only-do-not-override-tpassh).ant-menu-horizontal {
  line-height: 20px;
}

.itemStyle {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
